.main {
	padding: 1em;
	color: oklch(99% 12% 318 / 1);

	height: 100dvh;
	width: 100dvw;

	background-color: oklch(0.27 0.14 305.43);

	>* {
		position: relative;
		z-index: 1;
	}

	svg {
		display: none;
	}

	&::before {
		content: "";
		filter: url("#a");
		opacity: 0.3;
		inset: 0;
		position: absolute;
		mix-blend-mode: luminosity;
	}
}

.content {
	height: 300px;
	width: 300px;
	inset: 30px;
	position: relative;

	background-color: oklch(0.47 0.14 305.43 / 0.5);

	&::before {
		content: "";
		filter: url("#b");
		opacity: 0.5;
		inset: 0;
		position: absolute;
		mix-blend-mode: luminosity;
	}
}