.main {
	padding: 1em;
	color: oklch(99% 12% 318 / 1);
	background-color: oklch(11% 22% 145 / 1);

	height: 100dvh;
	width: 100dvw;

	>* {
		position: relative;
		z-index: 1;
	}

}

.content {
	--main: rgb(187, 0, 255);

	position: fixed;
	/* z-index: 0; */
	inset: 0;
	/* pointer-events: none; */
	place-self: center;

	/* light */
	&::before {
		content: '';
		display: block;
		height: 200%;
		width: 200%;
		background-color: white;
		position: absolute;
		z-index: 0;
		top: -50%;
		left: -50%;
		border-radius: 50%;
		opacity: 0.1;
		filter: blur(100px);
	}
}

.bottle {
	--degrees: 15deg;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: rgb(67, 67, 67);
	box-shadow: inset 5px -3px 15px rgba(0, 0, 0, 0.5);

	position: relative;
	z-index: 1;

	transform-origin: 50% 90%;
	animation:
		roll 2s infinite alternate-reverse ease-in-out,
		table 2s infinite alternate-reverse ease-in-out;

	/* reflection */
	&::after {
		content: '';
		display: block;
		height: 90%;
		width: 93%;
		border-radius: 50%;
		opacity: 0.05;
		position: relative;
		top: 8%;
		left: 49%;
		translate: -50% 0;
		rotate: 45deg;
		box-shadow: 0 -16px 0 -5px lightgray;
		z-index: 1;

		animation: roll 2s infinite alternate ease-in-out;
	}
}

.lip {
	position: absolute;
	top: 0;
	left: 50%;
	height: 10%;
	width: 30%;
	background-color: rgb(86, 86, 86);
	border-radius: 50%;
	transform: translate(-50%, -20%);
	transform-origin: 50% 300px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
	z-index: 2;

	&::after {
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		background-color: rgb(47, 47, 47);
		border-radius: 50%;
		transform: scale(0.7);
	}
}

@keyframes roll {
	from {
		transform: rotateZ(calc(-1 * var(--degrees)));
	}

	to {
		transform: rotateZ(var(--degrees));
	}
}

@keyframes table {

	0%,
	100% {
		translate: 0 0;
	}

	50% {
		translate: 0 1%;
	}

}

.liquid {
	--degrees: -10deg;
	--pad: 14px;

	position: absolute;
	top: 50%;
	left: var(--pad);
	height: calc(50% - var(--pad));
	width: calc(100% - 2 * var(--pad));
	background-color: var(--main);
	border-bottom-left-radius: 99999px;
	border-bottom-right-radius: 99999px;

	animation: roll 2s infinite -2.5s alternate ease-in-out;
	transform-origin: top center;

	/* surface */
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 50%;
		border-radius: 50%;
		background-color: lch(from var(--main) calc(l + 10) c h);
		transform: translateY(-50%);
	}
}

.shadow {
	position: absolute;
	top: 100%;
	left: 50%;
	height: 10%;
	width: 80%;
	background-color: black;
	border-radius: 50%;
	opacity: 0.6;
	filter: blur(10px);
	transform: translate(-70%, -45%);
	transform-origin: center;

	animation:
		rock 2s infinite alternate ease-in-out,
		scale 2s infinite alternate ease-in-out;
}

@keyframes scale {

	0% {
		scale: 1 1;
	}

	100% {
		scale: 1.4 1.4;
	}
}

@keyframes rock {
	from {
		translate: 5px 0;
	}

	to {
		translate: -5px 0;
	}
}