.main {
	padding: 1em;
	color: oklch(99% 12% 318 / 1);
	background-color: oklch(11% 22% 145 / 1);

	height: 100dvh;
	width: 100dvw;

	>* {
		position: relative;
		z-index: 1;
	}

}

.content {
	--main: rgb(187, 0, 255);

	position: fixed;
	/* z-index: 0; */
	inset: 0;
	/* pointer-events: none; */
	place-self: center;

	/* light */
	&::before {
		content: '';
		display: block;
		height: 200%;
		width: 200%;
		background-color: white;
		position: absolute;
		z-index: 0;
		top: -50%;
		left: -50%;
		border-radius: 50%;
		opacity: 0.1;
		filter: blur(100px);
	}
}

.bottle {
	--degrees: 15deg;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: rgb(67, 67, 67);
	box-shadow: inset 5px -3px 15px rgba(0, 0, 0, 0.5);

	position: relative;
	z-index: 1;

	transform-origin: 50% 90%;
	animation:
		roll 2s infinite alternate-reverse ease-in-out,
		table 2s infinite alternate-reverse ease-in-out;

	/* reflection */
	&::after {
		content: '';
		display: block;
		height: 90%;
		width: 93%;
		border-radius: 50%;
		opacity: 0.05;
		position: relative;
		top: 8%;
		left: 49%;
		translate: -50% 0;
		rotate: 45deg;
		box-shadow: 0 -16px 0 -5px lightgray;
		z-index: 1;

		animation: roll 2s infinite alternate ease-in-out;
	}
}

.lip {
	position: absolute;
	top: 0;
	left: 50%;
	height: 10%;
	width: 30%;
	background-color: rgb(86, 86, 86);
	border-radius: 50%;
	transform: translate(-50%, -20%);
	transform-origin: 50% 300px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
	z-index: 2;

	&::after {
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		background-color: rgb(47, 47, 47);
		border-radius: 50%;
		transform: scale(0.7);
	}
}

@keyframes roll {
	from {
		transform: rotateZ(calc(-1 * var(--degrees)));
	}

	to {
		transform: rotateZ(var(--degrees));
	}
}

@keyframes table {

	0%,
	100% {
		translate: 0 0;
	}

	50% {
		translate: 0 1%;
	}

}

.liquid {
	--degrees: -10deg;
	--pad: 14px;

	position: absolute;
	top: 50%;
	left: var(--pad);
	height: calc(50% - var(--pad));
	width: calc(100% - 2 * var(--pad));
	background-color: var(--main);
	border-bottom-left-radius: 99999px;
	border-bottom-right-radius: 99999px;

	animation: roll 2s infinite -2.5s alternate ease-in-out;
	transform-origin: top center;

	/* surface */
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 50%;
		border-radius: 50%;
		background-color: lch(from var(--main) calc(l + 10) c h);
		transform: translateY(-50%);
	}
}

.shadow {
	position: absolute;
	top: 100%;
	left: 50%;
	height: 10%;
	width: 80%;
	background-color: black;
	border-radius: 50%;
	opacity: 0.6;
	filter: blur(10px);
	transform: translate(-70%, -45%);
	transform-origin: center;

	animation:
		rock 2s infinite alternate ease-in-out,
		scale 2s infinite alternate ease-in-out;
}

@keyframes scale {

	0% {
		scale: 1 1;
	}

	100% {
		scale: 1.4 1.4;
	}
}

@keyframes rock {
	from {
		translate: 5px 0;
	}

	to {
		translate: -5px 0;
	}
}

.bubbles>* {
	position: absolute;
	z-index: 4;
	top: 80%;
	left: 50%;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	opacity: 0.5;
	transform: translate(-50%, -50%);
	animation:
		bubble var(--duration) infinite var(--delay) ease-in both,
		disperse var(--duration) infinite var(--delay) ease-in both;

	&:nth-child(1) {
		--delay: 0s;
		--duration: 7s;
		--x0: 0;
		--x10: 12px;
		--x20: -3px;
		--x30: 18px;
		--x40: 5px;
		--x50: 35px;
		--x60: 25px;
		--x70: 42px;
		--x80: 30px;
		--x90: 33px;
		--x100: 20px;
	}

	&:nth-child(2) {
		--delay: -2s;
		--duration: 9s;
		--x0: -30px;
		--x10: -20px;
		--x20: -40px;
		--x30: -30px;
		--x40: -50px;
		--x50: -40px;
		--x60: -60px;
		--x70: -50px;
		--x80: -70px;
		--x90: -60px;
		--x100: -50px;
	}

	&:nth-child(3) {
		--delay: -4s;
		--duration: 8s;
		--x0: 50px;
		--x10: 45px;
		--x20: 40px;
		--x30: 45px;
		--x40: 30px;
		--x50: 35px;
		--x60: 40px;
		--x70: 35px;
		--x80: 30px;
		--x90: 25px;
		--x100: 20px;
	}

	&:nth-child(4) {
		--delay: -6s;
		--duration: 6s;
		--x0: -20px;
		--x10: -30px;
		--x20: -40px;
		--x30: -20px;
		--x40: 0px;
		--x50: 10px;
		--x60: 20px;
		--x70: 15px;
		--x80: 30px;
		--x90: 40px;
		--x100: 50px;
	}

	&:nth-child(5) {
		--delay: -8s;
		--duration: 5s;
		--x0: 37px;
		--x10: 20px;
		--x20: 10px;
		--x30: 0px;
		--x40: -10px;
		--x50: -20px;
		--x60: 8px;
		--x70: 15px;
		--x80: -14px;
		--x90: -20px;
		--x100: -30px;
	}
}

@keyframes bubble {
	from {
		translate: 0 0;
		scale: 0;
		background-color: var(--main);
	}

	to {
		translate: 0 -200px;
		scale: 1;
		background-color: white;
	}
}

@keyframes disperse {
	0% {
		transform: translateX(var(--x0));
	}

	10% {
		transform: translateX(var(--x10));
	}

	20% {
		transform: translateX(var(--x20));
	}

	30% {
		transform: translateX(var(--x30));
	}

	40% {
		transform: translateX(var(--x40));
	}

	50% {
		transform: translateX(var(--x50));
	}

	60% {
		transform: translateX(var(--x60));
	}

	70% {
		transform: translateX(var(--x70));
	}

	80% {
		transform: translateX(var(--x80));
	}

	90% {
		transform: translateX(var(--x90));
	}

	100% {
		transform: translateX(var(--x100));
	}
}