.main {
	padding: 1em;

	height: 100dvh;
	width: 100dvw;

	>* {
		position: relative;
		z-index: 1;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(var(--side), 100px);
	grid-template-rows: repeat(var(--side), 1fr);
}

.cell {
	aspect-ratio: 1;
	border: 1px solid currentColor;
	text-align: center;
	font-size: 50px;
	cursor: pointer;

	&[data-state="on"] {
		background-color: gray;
	}

	&[data-state="off"] {
		background-color: black;

		&:hover {
			background-color: #333;
		}
	}

	&[data-state="in"] {
		background-color: green;
	}
}

.table {
	margin-bottom: 1em;
	border-collapse: collapse;

	th,
	td {
		border: 1px solid currentColor;
	}

	th:empty {
		border: none;
	}

	th,
	td {
		padding: 0.5em;
	}

	td,
	thead th {
		min-width: calc(3ch + 1em);
		font-variant-numeric: tabular-nums;
		text-align: right;
	}

	th[scope="row"] {
		[data-title] {
			margin: 0;
		}

		[data-subtitle] {
			font-weight: normal;
			margin: 0;
			white-space: pre-wrap;
			font-size: smaller;
		}

		math {
			margin: 0.5em;
			opacity: 0.5;
		}
	}
}