.main {
	padding: 1em;

	height: 100dvh;
	width: 100dvw;

	fieldset {
		width: fit-content;
		display: flex;
		flex-direction: column;
		gap: 0.5em;
	}

	fieldset+fieldset {
		margin-top: 1em;
	}

	p {
		margin: 0;
	}
}

.head,
.info {
	position: relative;
	z-index: 1;
}

.content {
	width: 100dvmin;
	aspect-ratio: 1 / 1;
	position: fixed;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	svg {
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		overflow: visible;
		box-shadow: 0px -0px 10000px transparent;

		path {
			transition: d 100ms linear;
		}

		circle {
			transition: cx 100ms linear, cy 100ms linear, r 100ms linear, fill 100ms linear;
		}
	}

}

.teleport {
	transform-box: fill-box;
	transform-origin: center;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.collect {
	transform-box: fill-box;
	transform-origin: center;
	animation: pulse 1s ease-in-out alternate infinite;
}

@keyframes pulse {
	to {
		transform: scale(0.8);
	}
}