.main {
	padding: 1em;

	height: 100dvh;
	width: 100dvw;

	fieldset {
		width: fit-content;
	}

	fieldset+fieldset {
		margin-top: 1em;
	}
}

.content {
	width: 100dvmin;
	aspect-ratio: 1 / 1;
	border: 1px solid #ccc;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	svg {
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;

		path {
			transition: d 100ms linear;
		}

		circle {
			transition: cx 100ms linear, cy 100ms linear, r 100ms linear, fill 100ms linear;
		}
	}
}