.main {
	margin: 0;
	background: #051016;
	color: white;
	touch-action: none;
	width: 100vw;
	height: 100svh;
	padding: 1em;

	dialog {
		--initial-gap: 40svh;
		--end-gap: 5rem;
		inset: 0;
		margin: 0;
		width: auto;
		height: auto;
		max-width: none;
		max-height: none;
		padding: 0;
		background: transparent;
		border: 0;
		scrollbar-width: none;

		scroll-snap-type: y mandatory;

		timeline-scope: --dialog-page-top, --dialog-page-bottom;

		&::backdrop {
			transition: opacity 400ms ease-out;
			animation: blur-in linear both, blur-in linear reverse both, blur-in 250ms cubic-bezier(0.101, 1, 0.68, 1);
			animation-timeline: --dialog-page-top, --dialog-page-bottom, auto;
			animation-range: exit, entry;
			background-color: rgba(0, 0, 0, 0.543);
		}

		&>div[data-dialog-bumper="top"] {
			padding-top: var(--initial-gap);

			&::before {
				content: "";
				display: block;
				height: calc(100dvh - var(--initial-gap));
				scroll-snap-align: start;
				view-timeline: --dialog-page-top y;
			}
		}

		&>div[data-dialog-bumper="bottom"] {
			&::before {
				content: "";
				display: block;
				height: calc(100dvh - var(--end-gap));
				view-timeline: --dialog-page-bottom y;
			}

			&::after {
				content: "";
				display: block;
				scroll-snap-align: end;
				height: 1px;
			}
		}

		&>div[data-dialog-area] {
			scroll-snap-align: start;
			max-height: 100dvh;
			overflow-y: auto;
			scrollbar-width: none;
			padding-block: var(--initial-gap) var(--end-gap);
		}

		&>div>div[data-dialog-content] {
			transition: translate 250ms cubic-bezier(0.101, 1, 0.68, 1);

			@starting-style {
				translate: 0 calc(100dvh - var(--initial-gap));
			}

			max-width: 50ch;
			margin: auto;
			padding: 2em;
			border-radius: 2em;
			corner-shape: squircle;
			background: #5e5e5e;

		}
	}
}

@keyframes blur-in {
	from {
		opacity: 0;
	}

	to {
		backdrop-filter: blur(3px);
	}
}