:root:has(.main) {
	background: #051016;
	color: white;
	padding: 1em;
}

.main {
	margin: 0;
	touch-action: none;
}

.examples {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	padding: 1em;

	button {
		padding: 0.5em 1em;
		border: 1px solid currentColor;
		background: transparent;
		color: inherit;
		font-size: inherit;
		border-radius: 2em;
		cursor: pointer;
		corner-shape: squircle;
		margin-bottom: 1em;
	}
}

dialog.dialog {
	/* reset */
	inset: 0;
	margin: 0;
	width: auto;
	height: auto;
	max-width: none;
	max-height: none;
	padding: 0;
	background: transparent;
	border: 0;
	scrollbar-width: none;

	scroll-snap-stop: always;
	timeline-scope: --dialog-scroll-area;
	scroll-snap-type: var(--axis) mandatory;

	&[open] {
		display: flex;
		flex-direction: var(--direction);
	}

	&::backdrop {
		transition: opacity 400ms ease-out;
		animation: backdrop-animation linear both, backdrop-animation linear reverse both, backdrop-animation 250ms cubic-bezier(0.101, 1, 0.68, 1);
		animation-timeline: --dialog-scroll-area, --dialog-scroll-area, auto;
		animation-range: entry, exit;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&::before,
	&::after {
		scroll-snap-align: start;
	}

	&>div[data-dialog-area] {
		outline: none;
		scroll-snap-align: start;

		display: grid;
	}

	&>div>div[data-dialog-content] {
		overflow: hidden auto;
		scrollbar-width: none;

		transition: translate 250ms cubic-bezier(0.101, 1, 0.68, 1);
		view-timeline: --dialog-scroll-area var(--axis);
	}

	&[data-orientation="horizontal"] {
		--axis: x;
		--direction: row;

		&::before,
		&::after {
			min-width: 100dvw;
			min-height: 100%;
		}

		&>div[data-dialog-area] {
			min-width: 100dvw;
			min-height: 100%;
		}
	}

	&[data-orientation="vertical"] {
		--axis: y;
		--direction: column;

		&::before,
		&::after {
			min-height: 200dvh;
			min-width: 100%;
		}

		&>div[data-dialog-area] {
			min-height: 100dvh;
			min-width: 100%;
		}
	}

	&[data-align="start"] {
		&::after {
			content: "";
			display: block;
		}

		&[data-orientation="horizontal"] {
			&>div[data-dialog-area] {
				align-items: center;
				justify-items: start;
			}

			&>div>div[data-dialog-content] {
				@starting-style {
					translate: -100dvw 0;
				}
			}
		}

		&[data-orientation="vertical"] {
			&>div[data-dialog-area] {
				align-items: start;
				justify-items: center;
			}

			&>div>div[data-dialog-content] {
				@starting-style {
					translate: 0 -100dvh;
				}
			}
		}
	}

	&[data-align="end"] {
		&::before {
			content: "";
			display: block;
		}

		&[data-orientation="horizontal"] {
			&>div[data-dialog-area] {
				align-items: center;
				justify-items: end;
			}

			&>div>div[data-dialog-content] {
				@starting-style {
					translate: 100dvw 0;
				}
			}
		}

		&[data-orientation="vertical"] {
			&>div[data-dialog-area] {
				align-items: end;
				justify-items: center;
			}

			&>div>div[data-dialog-content] {
				@starting-style {
					translate: 0 100dvh;
				}
			}
		}
	}

	&[data-align="center"] {

		&::before,
		&::after {
			content: "";
			display: block;
		}

		&>div[data-dialog-area] {
			place-items: center;
		}

		&[data-orientation="horizontal"] {
			&>div>div[data-dialog-content] {
				@starting-style {
					translate: 100dvw 0;
				}
			}
		}

		&[data-orientation="vertical"] {
			&>div>div[data-dialog-content] {
				@starting-style {
					translate: 0 100dvh;
				}
			}
		}
	}

	/* &>div>div[data-dialog-content] {
		animation: entry-slowdown linear both;
		animation-timeline: --dialog-scroll-area;
		animation-range: exit;
	} */
}


@keyframes backdrop-animation {
	from {
		opacity: 0;
	}

	to {
		backdrop-filter: blur(3px);
	}
}

/* @keyframes entry-slowdown {
	to {
		transform: translate(calc(100dvw - 100%), 0);
	}
} */

.verticalCenter {
	max-width: 50ch;
	max-height: 80dvh;
	border-radius: 4em;
	corner-shape: squircle;
	background: rgb(145, 140, 145);
	color: rgb(41, 19, 46);
}

.verticalBottom {
	max-width: 60ch;
	max-height: 60dvh;
	border-radius: 4em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	corner-shape: squircle;
	background: rgb(145, 140, 145);
	color: rgb(41, 19, 46);
}

.horizontalEnd {
	max-width: 60ch;
	max-height: 90dvh;
	border-radius: 4em;
	corner-shape: squircle;
	background: rgb(145, 140, 145);
	color: rgb(41, 19, 46);
	margin-right: 2em;
}

.horizontalStart {
	max-width: 40ch;
	max-height: 100dvh;
	background: rgb(145, 140, 145);
	color: rgb(41, 19, 46);
}



.content {
	position: relative;


	button {
		position: absolute;
		top: 2em;
		right: 2em;
	}

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	.body {
		padding: 0 2em 2em;
	}
}