.main {
	margin: 0;
	background: #051016;
	color: white;
	touch-action: none;
	width: 100vw;
	height: 100svh;
	padding: 1em;

	dialog {
		--initial-gap: 40svh;
		inset: 0;
		margin: 0;
		width: auto;
		height: auto;
		max-width: none;
		max-height: none;
		padding: 0;
		background: transparent;
		border: 0;
		scrollbar-width: none;

		scroll-snap-type: y mandatory;

		timeline-scope: --dialog-page-top, --dialog-page-bottom;

		&::backdrop {
			transition: opacity 400ms ease-out;
			animation: blur-in linear forwards, blur-in linear reverse forwards, blur-in 300ms ease-out;
			animation-timeline: --dialog-page-top, --dialog-page-bottom, auto;
			animation-range: exit, entry;
		}

		&::before {
			content: "";
			display: block;
			scroll-snap-align: start;
		}

		&>div[data-dialog-bumper="top"] {
			padding-top: var(--initial-gap);

			&::before {
				content: "";
				display: block;
				height: calc(100dvh - var(--initial-gap));
				view-timeline: --dialog-page-top y;
			}

			&::after {
				content: "";
				display: block;
				scroll-snap-align: start;
				height: var(--initial-gap);
			}
		}

		&>div[data-dialog-bumper="bottom"] {
			&::before {
				content: "";
				display: block;
				height: 100dvh;
				view-timeline: --dialog-page-bottom y;
			}

			&::after {
				content: "";
				display: block;
				scroll-snap-align: end;
				height: 1px;
			}
		}

		&>div[data-dialog-content] {
			transition: translate 400ms ease-out;
			max-width: 50ch;
			margin: auto;
			padding: 2em;
			border-radius: 2em;
			corner-shape: squircle;
			background: #5e5e5e;

			@starting-style {
				translate: 0 calc(100dvh - var(--initial-gap));
			}
		}
	}
}

@keyframes blur-in {
	from {
		backdrop-filter: blur(0px);
		opacity: 0;
	}

	to {
		backdrop-filter: blur(10px);
		opacity: 1;
	}
}