.main {
	margin: 0;
	background: #051016;
	color: white;
	touch-action: none;
	width: 100vw;
	height: 100svh;
	padding: 1em;

	position: fixed;
	inset: 0;
	overflow: auto;

	canvas {
		position: fixed;
		inset: 0;
		z-index: 0;
		pointer-events: none;
	}
}

.head {
	position: relative;
	z-index: 1;
	user-select: none;
	width: fit-content;
}