.main {
	margin: 0;
	background: #051016;
	color: white;
	touch-action: none;
	width: 100vw;
	height: 100svh;
	padding: 1em;

	position: fixed;
	inset: 0;
	overflow: auto;

}

.canvas {
	position: fixed;
	bottom: 0;
	right: 0;
	border: 1px solid white;
	aspect-ratio: 1;
	width: 100dvmin;
	height: 100dvmin;
	pointer-events: none;
}

.viz {
	margin-top: 1em;
	width: 40ch;
	height: 40ch;
}

.head {
	position: relative;
	z-index: 1;
	user-select: none;
	width: fit-content;
}