.main {
	margin: 0;
	background: #051016;
	color: white;
	touch-action: none;
	width: 100vw;
	height: 100svh;
	padding: 1em;

	position: fixed;
	inset: 0;
	overflow: auto;

	canvas {
		position: fixed;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		pointer-events: none;
	}
}

.head {
	position: relative;
	z-index: 1;
	user-select: none;
	width: fit-content;
}

.form {
	position: relative;
	z-index: 1;
	width: fit-content;
	margin-top: 1em;

	fieldset {
		margin: 0;
		border-style: solid;
		background: rgba(0, 0, 0, 0.5);
	}

	input[type="range"],
	select {
		width: 100%;
	}

	hr {
		margin: 1em -0.75em;
		border-style: solid;
		border-color: threedface;
	}

	label {
		margin: 0;
		display: block;
	}
}