.main {
	margin: 0;
	background: #051016;
	color: white;
	touch-action: none;
	width: 100vw;
	min-height: 100svh;
	padding: 1em;
}

.head {
	position: relative;
	z-index: 1;
}

.content {
	display: grid;
	place-items: center;
	grid-template-columns: repeat( auto-fit, minmax(250px, 500px) );
	grid-auto-rows: 1fr;

	& > * {
		aspect-ratio: 1;
	}

	canvas {
		width: 100%;
		height: 100%;
	}
}