.main {
	position: relative;
	padding: 1em;
	margin: 0;
	color: white;
	touch-action: none;

	canvas {
		width: 100vw;
		height: 100svh;
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: -1;
	}
}