.main {
	position: relative;
	padding: 1em;
	margin: 0;
	color: white;
	touch-action: none;
	height: 100dvh;
	width: 100dvw;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background-color: rgb(3, 0, 28);
		z-index: -2;
	}

	canvas {
		width: 100svw;
		height: 100svh;
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: -1;
		place-self: center;
	}
}