.h1 {
	text-align: center;
	opacity: 0.8;
}

.link {
	width: fit-content;
	/* color: hsl(0, 0%, 0%, 0.6); */
	mix-blend-mode: luminosity;
}

.error {
	padding: 1em;

	pre {
		color: red;
		margin-top: 2em;
	}
}

.route {
	padding: 0 1em;
	border-bottom: 1px solid;
	position: relative;
	display: flex;
	flex-direction: column;
	color: inherit;
	text-decoration: none;

	&:first-of-type {
		border-top: 1px solid;
	}

	>:not(img) {
		/* mix-blend-mode: luminosity; */
	}

	&:has(.tags) {
		h2 {
			margin-bottom: 0.2em;
		}

		p {
			margin-top: 0.5em;
		}
	}

	.tags {
		margin: 0 !important;
		display: flex;
		gap: 0.5em;

		span {
			font-size: smaller;
			padding: 0.1em 0.3em;
			border-radius: 0.3em;
			backdrop-filter: blur(0.25em) invert(10%);
			background-color: #ffffff22;
		}
	}
}

.bg {
	position: absolute;
	inset: 0;
	object-fit: cover;
	z-index: -1;
	height: 100%;
	width: 100%;
}