.main {
	padding: 1em;
	color: oklch(99% 12% 318 / 1);
	background-color: oklch(11% 22% 145 / 1);

	height: 100dvh;
	width: 100dvw;

	>* {
		position: relative;
		z-index: 1;
	}

}

.canvas {
	height: 100vh;
	width: 100vw;
	position: absolute;
	inset: 0;
}

.content {
	font-family: monospace;
	font-size: 14px;
	line-height: 1;
	color: #0f0;

	/* Create a grid of characters */
	display: grid;
	word-break: break-all;
	grid-template-columns: repeat(auto-fill, 1ch);
	grid-template-rows: repeat(auto-fill, 1em);
	grid-auto-flow: row;

	/* Fill the container */
	height: 100vh;
	width: 100vw;
	position: absolute;
	inset: 0;
}